
/*
    TABLE OF CONTENT
        1. RESET AND TYPHOGRAPHY
            1.1 Reset
            1.2 Typhography
        2. ELEMENTS
            2.1 Grid
            2.2 List
            2.3 Form
            2.4 Rating
            2.5 Block
            2.6 Post
            2.7 Banner
            2.8 Testimonial
            2.9 Widget
            2.10 Shoe
            2.11 Badge
            2.12 masonry
            2.13 hotspot
            2.14 pagination
            2.15 tags
            2.16 user
            2.17 review
            2.18 comment
            2.19 iconbox
            2.20 filter
            2.21 offer
            2.22 table
            2.23 loader
            2.24 section
        3.COMPONENTS
          3.1 navigation
          3.2 subscribe
          3.3 cart
          3.4 search
          3.5 contact
        4. MODULES
            4.1 header
            4.2 footer
            4.3 product
            4.4 404
        5. FRAMES & OVERWRITE
           5.1 background
           5.2 margin
           5.3 padding
*/
/*1. RESET AND TYPHOGRAPHY*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0;
}


* {
    font-family: BeVietnamPro-Medium;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    color: #303030;
    margin-bottom: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 14px;
    line-height: 1.5em;
    color: #999;
}

    p span {
        font-family: BeVietnamPro-Medium;
        color: inherit;
        font-size: inherit;
    }

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    a:hover {
        color: #77ACF1;
    }

a,
input,
textarea,
button,
select {
    outline: none;
}

    a:hover,
    h1:focus,
    h2:focus,
    h3:focus,
    h4:focus,
    h5:focus,
    h6:focus {
        text-decoration: none;
    }

    a:focus,
    button:focus,
    select:focus,
    input:focus,
    textarea:focus {
        outline: none;
        text-decoration: none;
    }

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*2. ELEMENTS*/
@media (min-width: 320px) {
    .ps-container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}

@media (min-width: 1200px) {
    .ps-container {
        width: 1170px;
    }

    .container-fluid {
        padding: 0 10px;
    }
}

@media (min-width: 1440px) {
    .ps-container {
        width: 1440px;
    }
}

body {
    position: relative;
    overflow-x: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Nội dung Dropdown */

.noidung_dropdown {
    /*Ẩn nội dụng các đường dẫn*/
    top: 100%;
    display: none;
    position: absolute;
    background-color:rgb(249, 249, 249);
    min-width: 160px;
    box-shadow: 0px 2px 3px 1px rgb(88 88 88 / 20%);
    z-index: 999;
    width: 190px;
}
.noidung_dropdown::before {
    position: absolute;
    width: 100%;
    height: 31%;
    content: "";
    display: block;
    left: 0px;
    top: -37px;
}

/* Thiết kế style cho các đường dẫn tronng Dropdown */
.noidung_dropdown a {
    display: block;
    padding: 13px 20px;
    text-align: left;
    font-family: BeVietnamPro-Medium;
    font-size: 14px;
    color: #1d1d1d;
    font-weight: 500;
}

    /* thay đổi màu background khi hover vào đường dẫn */
    .noidung_dropdown a:hover {
        top: 50%;
        padding-left: 30px;
        color: #ffffff;
        background-color: #77ACF1;
    }

/* hiển thị nội dung dropdown khi hover */
.dropdown:hover .noidung_dropdown {
    margin-top: 60%;
    display: block;
    transition-delay: 2s;
}

/* Thay đổi màu background cho nút khi được hover */

/*Dùng Để hiển thị nội dung*/


/*3.COMPONENTS*/
.sub-menu {
    min-width: 150px;
    position: absolute;
    top: 100%;
    margin-top: 16px;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
}

    .sub-menu > li {
        display: block;
        margin-right: 0;
        width: 100%;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .sub-menu > li > a {
            position: relative;
            z-index: 10;
            font-family: BeVietNamPro-Medium;
            display: block;
            padding: 10px 15px;
            font-size: 13px;
            color: #1d1d1d;
            font-weight: 600;
            text-transform: uppercase;
            background-color: rgb(249, 249, 249);
            border-bottom: 1px solid #eee;
            -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

            .sub-menu > li > a:hover {
                color: #ffffff;
                padding-left: 30px;
                background-color: #77ACF1;
            }

        .sub-menu > li:last-child > a {
            border-bottom: none;
        }

        .sub-menu > li.menu-item-has-children {
            position: relative;
        }

            .sub-menu > li.menu-item-has-children > .sub-menu {
                display: block;
                position: absolute;
                top: 0;
                left: auto;
                right: 100%;
                -webkit-transform: translateY(30px);
                -moz-transform: translateY(30px);
                -ms-transform: translateY(30px);
                -o-transform: translateY(30px);
                transform: translateY(30px);
                z-index: 1000;
                visibility: hidden;
                opacity: 0;
            }

            .sub-menu > li.menu-item-has-children:hover > .sub-menu {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transform: translateY(0);
            }




.bg--cover {
    background-position: 50% 50% !important;
    background-size: cover !important;
}

.bg--overlay {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #000;
    z-index: -5;
}


.margin-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mr-0 {
    margin-right: 0px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-55 {
    margin-right: 55px;
}

.mr-60 {
    margin-right: 60px;
}

.mr-65 {
    margin-right: 65px;
}

.mr-70 {
    margin-right: 70px;
}

.mr-75 {
    margin-right: 75px;
}

.mr-80 {
    margin-right: 80px;
}

.mr-85 {
    margin-right: 85px;
}

.mr-90 {
    margin-right: 90px;
}

.mr-95 {
    margin-right: 95px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-95 {
    margin-bottom: 95px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-0 {
    margin-left: 0px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-55 {
    margin-left: 55px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-65 {
    margin-left: 65px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-75 {
    margin-left: 75px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-85 {
    margin-left: 85px;
}

.ml-90 {
    margin-left: 90px;
}

.ml-95 {
    margin-left: 95px;
}

.ml-100 {
    margin-left: 100px;
}

.padding-0 {
    padding: 0;
}

.pt-0 {
    padding-top: 0px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-85 {
    padding-top: 85px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-95 {
    padding-top: 95px;
}

.pt-100 {
    padding-top: 100px;
}

.pr-0 {
    padding-right: 0px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-35 {
    padding-right: 35px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-45 {
    padding-right: 45px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-55 {
    padding-right: 55px;
}

.pr-60 {
    padding-right: 60px;
}

.pr-65 {
    padding-right: 65px;
}

.pr-70 {
    padding-right: 70px;
}

.pr-75 {
    padding-right: 75px;
}

.pr-80 {
    padding-right: 80px;
}

.pr-85 {
    padding-right: 85px;
}

.pr-90 {
    padding-right: 90px;
}

.pr-95 {
    padding-right: 95px;
}

.pr-100 {
    padding-right: 100px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pl-0 {
    padding-left: 0px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-55 {
    padding-left: 55px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-65 {
    padding-left: 65px;
}

.pl-70 {
    padding-left: 70px;
}

.pl-75 {
    padding-left: 75px;
}

.pl-80 {
    padding-left: 80px;
}

.pl-85 {
    padding-left: 85px;
}

.pl-90 {
    padding-left: 90px;
}

.pl-95 {
    padding-left: 95px;
}

.pl-100 {
    padding-left: 100px;
}


.btn {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #333;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
    display: inline-block;
    padding: 13px 32px;
    border-radius: 0px;
    text-transform: uppercase;
}

    .btn:hover {
        color: #fff;
        background: #77ACF1;
    }
